{% include 'top.html' %}
    <div class="content">
        <h1 class="title">Search Songs</h1>


            {% if songs | length > 0 %}
                <!-- All TV Shows -->
                <table class="styled">
                    <thead>
                        <tr>
                            <td>Song ID</td>
                            <td>Song Title</td>
                            <td>Length</td>
                        </tr>
                    </thead>
                    <tbody>
                        {% for instance in songs %}
                            <!-- Each row is a link to each individual tvshow page -->
                            <tr class="clickable-tr" data-href="{{ url_for('single_song', song_id=instance.song_id)}}">
                                <td style="text-align: center">{{ instance.song_id }}</td>
                                <td>{{instance.song_title}}</td>
                                <td>{{instance.length}}</td>
                            </tr>
                        {% endfor %}
                    </tbody>
        
                </table>
            {% endif %}

    </div>
{% include 'bottom.html'%}
