{% include 'top.html' %}
<div class="content">
    <div class="container details">
        <!-- Check if We have a valid Movie -->
        {% if movie | length > 0 %}
            <h2 class="title"> {{movie[0].movie_title}} ({{movie[0].release_year}})</h2>
            <hr/>
            <h3> Artworks </h3>
            {% for instance in movie %}
                {% if instance.md_type_name == 'artwork' %}
                    <img src="{{instance.md_value}}" alt="image">
                    <br/>© Amazon Public Domain 2019.
                {% endif %}
            {% endfor %}
            <br/>
            <h3> Descriptions </h3>
            {% for instance in movie %}
                {% if instance.md_type_name == 'description' %}
                    <div>
                        {{instance.md_value}}
                    </div>
                {% endif %}
            {% endfor %}
            <!-- TODO - Query (10)
            You will have to modify the approach below slightly to make each genre clickable
            -->
            <h3> Genres </h3>
            <!-- {% for instance in movie %}
                {% if instance.md_type_name == 'film genre' %}
                        {{instance.md_value}}
                        <br/>
                {% endif %}
            {% endfor %} -->

            <div>
                <!-- All Songs -->
                <table class="styled">
                    <thead>
                        <tr>
                            <td>Genre thing</td>
                        </tr>
                    </thead>
                    <tbody>
                        {% for instance in movie %}
                            {% if instance.md_type_name == 'film genre' %}
                            <tr class="clickable-tr" data-href="{{ url_for('single_genre', genre_id=instance.md_value)}}">
                                <td style="text-align: center">{{instance.md_value}}</td>
                            </tr>
                            {% endif %}
                        {% endfor %}
                    </tbody>
        
                </table>
        
            </div>
        {% else %}
            <h2 class="title"> Invalid Movie ID</h2>
        {% endif %}

    </div>
</div>
{% include 'bottom.html'%}
