{% include 'top.html' %}
<div class="content">
    <div class="container details">
        {% if podcast | length > 0 %}
            <h2 class="title"> {{podcast[0].podcast_id}} </h2>
            <h2 class="title"> {{podcast[0].podcast_title}} </h2>
            <h2 class="title"> {{podcast[0].podcast_uri}} </h2>
            <h2 class="title"> {{podcast[0].podcast_last_updated}} </h2>
            <hr/>
            <h3> Artworks </h3>
            {% for instance in podcast %}
                {% if instance.md_type_name == 'artwork' %}
                    <img src="{{instance.md_value}}" alt="image">
                    <br/>© Spotify Public Domain 2019.
                {% endif %}
            {% endfor %}
            <br/>
            <h3> Descriptions </h3>
            {% for instance in podcast %}
                {% if instance.md_type_name == 'description' %}
                    <div>
                        {{instance.md_value}}
                    </div>
                {% endif %}
            {% endfor %}
            <br/>
            <!-- TODO - Query (10)
            You will have to modify this slightly to make each genre clickable
            -->
            <h3> Genres </h3>
            {% for instance in podcast_genre %}
                    {{instance.podcastgenres}}
            {% endfor %}
        



        <!-- TODO Query (6)  
        Display All Relevant Podcast Infromation including meta data
        Display All Relevant Podcast Episodes for this Podcast
        -->
        <!-- TODO - Query (10)
        You will have to modify the above approach slightly to make each genre clickable
        -->
                <!-- Podcast Episodes -->
                <h3>Episodes for this Podcast</h3>
                <table class="styled">
                    <thead>
                        <tr>
                            <td>Podcast Episode Media ID</td>
                            <td>Podcast Episode Title</td>
                            <td>Podcast Episode URI</td>
                            <td>Podcast Episode Published Date</td>
                            <td>Podcast Episode Length</td>
                        </tr>
                    </thead>
                    <tbody>
                        <!-- Add a for loop to iterate over the episodes -->
                        {% for instance in podcasteps %}
                        <tr class="clickable-tr" data-href="{{ url_for('single_podcastep', media_id=instance.media_id)}}">
                            <td style="text-align: center">{{ instance.media_id }}</td>
                            <td>{{instance.podcast_episode_title}}</td>
                            <td>{{instance.podcast_episode_uri}}</td>
                            <td>{{instance.podcast_episode_published_date}}</td>
                            <td>{{instance.podcast_episode_length}}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
        
                </table>
        
            </div>
            {% else %}
                <h2 class="title"> Invalid Podcast ID</h2>
            {% endif %}
    </div>
</div>
{% include 'bottom.html'%}
